.searchOptionsOuterContainer{
  margin: 2rem;
  color: var(--clr-text-900);
  font-size: large;
  min-height: 72vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
}

.horizontal-slider {
  width: 100%;
  max-width: 20rem;
    height: 3rem;
    margin: auto;
    margin-bottom: 2rem; 
  cursor:pointer;
  }
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: var(--clr-border-400);
    border: 0.2rem solid white;
    border-radius: 100%;
    display: block;
    width: 0.85rem;
    height: 0.85rem;
  } 
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: var(--clr-ineractive-200);
  }
  .example-track.example-track-1 {
    background: var(--clr-border-400);
  }
  .example-track.example-track-2 {
    background: var(--clr-ineractive-200);
  }
  .horizontal-slider .example-track {
    top: 1.5rem;
    height: 0.15rem;
  }
  .horizontal-slider .example-thumb {
    top: 0.95rem;
    width: 0.8rem;
    outline: none;
    height: 0.8rem;
    line-height: 40px;
  }
  
  .thumbText{
    display: inline;
    position: absolute;
    margin-top: 0.8rem;
    text-align: center;
    width: 10rem;
    margin-left: -4.5rem;
    font-size: medium;
  }
  
  .singleSearchOptionContainer{
    margin-bottom: 3.5rem;
    height: 5rem;
  }
  .smallSearchOptionsContainer{
    max-width:9rem;
  }

  .largeSlidersContainer{
    max-width: 21rem;
  }
  .stringArray{
    display: flex;
    justify-content: space-between;
    margin-top: -2.5rem;
  }
  .stringArray span{
    font-style: italic;
    font-size: medium;
  }
  
.example-mark{
  position: relative;
    width: 8px;
    height: 8px;
    border: 2px solid rgb(255,255,255);
    background-color: var(--clr-ineractive-200);
    cursor: pointer;
    border-radius: 50%;
    bottom: calc(50% - 7px);
  }

.checkBoxOptionsContainer button{
  background-color: white;
  border: none;

  padding: none;
  height: 100%;
  margin-left: -0.25rem;
}
.checkBoxOptionsContainer h2{
  margin-bottom: 1rem;
}
.checkBoxOptionsContainer span{
  font-style: italic;
}

.checked{
  color: var(--clr-border-400);
}
.unChecked{
  color: var(--clr-ineractive-200);
}
