.tableOptionsContainer{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2rem;
}

.tableOptionsContainer span{
    color: var(--clr-text-900);
}

.buttonContainer{
    flex:1;
    display: flex;
    float:right;
    justify-content: end;
}
.buttonContainer button,.checkBox button{
    background-color: white;
    border: none;
    color: var(--clr-ineractive-200);
    padding: none;
    height: 100%;
}
.checkBox{
    width: 13rem;
    margin-bottom: 1.5rem;
}
.checkBox button{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkBoxContainer{
    margin: 1rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}
.updateTableButtonContainer{
    flex: 1;
    display: flex;
    justify-content: end;
}

.updateTableButtonContainer button{
    padding: 0 2rem 0 2rem;
}

.buttonContainer span{
    margin-right: 1rem;
}
.checked{
    color: var(--clr-border-400);
  }
.unChecked{
color: var(--clr-ineractive-200);
}